/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* largeur maximale page et variables couleurs utilisées */
html {
    --primarycolor: #0065FC;
    --secondarycolor: #DEEBFF;
    --thirdcolor: #F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2.5% 0 2.5%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h2 {
    font-size: 22px;
}

/*** Bannière haut avec barre de navigation ***/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 62px;
    height: 19px;
}

nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

/* ligne au-dessus des liens de navigations */
nav li {
    padding-inline: 2em;
    padding-top: 2.5em;
}

nav li:hover{
    border-top: 2px solid var(--primarycolor);
    padding-inline: 2em;
    padding-top: 2.5em;
    color: var(--primarycolor);
}

nav a {
    text-decoration-line: none;
    color: black;
}

nav a:hover{
    color: var(--primarycolor);
    font-weight: 500;
}

/*** Formulaire ***/

.form {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.form h1 {
    font-size: 22px;
    line-height: 33px;
}

/* formulaire de recherche */
.form-search {
    display:flex;
    margin-top: 3%;
    max-width: 418px;
    border: 1px solid var(--thirdcolor);
    border-right: none;
    border-radius: 20px;
}

.form-search i {
    width: 60px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    background-color:  var(--thirdcolor);
    padding: 4% 2.5% 2.5% 4%;
}

.form-search input {
    height: 49px;
    width: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
}

.form-search input::placeholder {
    color: black;
    opacity: 1;
}

.form-search button {
    height: 49px;
    width: 100%;
    max-width: 132px;
    padding : 0 4% 0 4%;
    border: 1px solid var(--primarycolor);
    border-radius: 0px 15px 15px 0px;
    background-color: var(--primarycolor);
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

/* pas affichage bouton avec icone loupe */
#btn-search-icon {
    display: none;
}

/*** Filtres ***/

.filter {
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
}

.filter-button-container {
    display: flex;
    font-weight: 700;
    margin-bottom: 2.5%;
}

.filter-button-container h2 {
    display: flex;
    align-self: center;
    font-size: 18px;
}

.filter-buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.filter-button {
    display:flex;
    align-items: center;
    padding: 1% 1.5% 1% 1.5%;
    margin-left: 2%;
    border-radius: 30px;
    font-size: 17px;
    border: 2px solid var(--thirdcolor);
    cursor: pointer;
}

.filter-button span::first-letter {
    text-transform: capitalize;
}

.filter-button i {
    color: var(--primarycolor);
    margin-right: 8px;
}

.filter-button:hover {
    background-color: var(--secondarycolor);
}

.filter p {
    display: flex;
    justify-content: space-between;
    max-width: 447px;
}

.filter p i {
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    margin-right: 1%;
    padding: 3px 2px 2px 2px;
    border-radius: 50%;
    border: 1px solid var(--thirdcolor);
    color: var(--primarycolor);
    font-size: 12px;
}

/*** Main conteneur de la partie hebergement + la partie Les plus populaires ***/

main {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 3%;
}

main a {
    text-decoration-line: none;
    color: black;
}

/*** section : Hébergements ***/

.lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 64%;
    padding: 3%;
    border-radius: 20px;
    background-color: var(--thirdcolor);
}

.lodging-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 1.5em;
    margin: 2rem 0 2rem 0;
}

.lodging-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 12.5rem;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #e0e0e0;
    background-color: white;
}

.lodging-card img {
    width: 100%;
    height: 7.75rem;
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
    object-fit: cover;
}

.lodging-card-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 4.5rem;
    padding-left: 16px;
}

.lodging-card-container h3 {
    line-height: 1rem;
}

.lodging-card-container p {
    font-size: 14px;
    line-height: 0.8rem;
    padding-top: 7px;
    flex-grow: 1;
}

.card-star {
    display: flex;
    padding-right: 3px;
}

.fa-star.star-colored {
    color: var(--primarycolor)
}

.fa-star.star-grey  {
    color: var(--thirdcolor)
}

.lodging p a{
    font-size : 18px;
    font-weight: bold;
}

/*** section : Les plus populaires ***/

.popular {
    display: flex;
    flex: 31%;
    flex-direction: column;
    padding: 3% 3% 0 3%;
    border-radius: 20px;
    background-color: var(--thirdcolor);    
}

.popular-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.popular-title i {
    width: 18px;
    height: 16px;
    line-height: 1.6rem;
    color: var(--primarycolor);
}

.popular-cards {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.popular-card {
    display: flex;
    height: 9rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 10px #e0e0e0;
}

.popular-card img {
    width: 40%;
    height: 9rem;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid white;
}

.popular-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 9rem;
    padding: 2.5%;
}

.popular-card-container p {
    flex-grow: 1;
    font-size: 14px;
    padding-top: 0.1em;
}

/*** article : Activités  ***/

.activity {
    display: flex;
    flex-direction: column;
    margin: 5% 0 5% 0;
}

.activity-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
}

.activity-cards a {
    color:black;
    text-decoration: none;
}

.activity-card {
    width: 23%;
    height: 444px;
    border-radius: 25px;
    box-shadow: 0 0 10px 10px #e0e0e0;
}

.activity-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.activity-card h3 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    bottom: 56px;
    height: 56px;
    line-height: 19px;
    border-radius: 0 0 20px 20px;
    padding-left: 7%;
    background-color: white;
}

/*** Footer ***/

footer {
    display:flex;
    justify-content: flex-start;
    width: 100%;
    padding: 4% 0 4% 4%;
    background-color: var(--thirdcolor);
}

footer a {
    text-decoration: none;
    color: black;
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footer-column h2 {
    padding-bottom: 6%;
    font-size: 18px;
}

.footer-column h2::first-letter {
    text-transform: capitalize;
}

.footer-column p {
    padding-bottom: 4%;
}

/*** Responsive écran tablette ***/

@media screen and (max-width: 991px) {
    main {
        flex-direction: column;
    }

    .popular {
        width: 100%;
        margin: 3% 0 3% 0;
        padding-bottom: 5%;
    }

    .popular-title {
        margin-bottom: 3%;
    }

    .popular-cards {
        flex-direction: row;
    }

    .popular-card {
        width: 100%;
    }
}

/*** Responsive écran mobile ***/

@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
    }

    /* barre de navigation */
    nav {
        width: 100%;
    }
    
    nav ul {
        width: 100%;
    }

    nav li {
        padding-bottom: 5%;
        width: 50%;
    }
    
    nav li:hover{
        border-top: none;
        border-bottom: 3px solid var(--primarycolor);
        padding-bottom: 5%;
    }

    /*** Formulaire ***/
    .form {
        margin: 4%;
    }
    
    .form p {
        margin-top: 2.5%;
    }
    
    .form-search {
        margin-top: 8%;
        width: 100%;
    }
    /* switch bouton rechercher et loupe */
    #btn-search {
        display: none;
    }

    #btn-search-icon {
        display: block;
        width: 49px;
        font-size: 17px;
    }

    /*** Filtres ***/

    .filter {
        margin: 4% 4% 0 4%;
    }

    .filter-button-container {
        flex-direction: column;
    }

    .filter-button-container h2 {
        width: 100%;
    }

    .filter-buttons {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 4%;
    }

    .filter-button { 
        width: 48%;
        padding: 3%;
        margin-top: 4%;
        margin-left: 0;
    }

    .filter-button span {
        font-size: 11px;
        line-height: 13px;
    }

    /*** main, populaires et hébergements ***/

    main {
        flex-direction: column;
        gap: 0;
    }

    .popular {
        order: 1; /*changement ordre d'apparition*/
        border-radius: unset;
        padding : 10% 5% 10% 5%;
    }

    .popular-cards {
        flex-direction: column;
    }

    .popular-card-container {
        padding-bottom: 1.5%;
    }

    .lodging {
        order: 2;
        width: 100%;
        border-radius: unset;
        background-color: white;
        padding: 10% 5% 3% 5%;
    }

    .lodging-cards {
        gap: 0
    }

    .lodging-card {
        width: 100%;
        margin-bottom: 5%;
    }

    .lodging p a {
        opacity: 0;
    }

    /*** Activités **/

    .activity {
        padding: 0% 5% 5% 5%;
        margin: 0 0 5% 0;
    }

    .activity-cards {
        flex-direction: column;
        row-gap: 1.5em;
        margin-top: 10%;
    }

    .activity-card {  
        width: 100%;
        height: 190px;
    }

/*** Footer ***/

    footer {
        flex-direction: column;
        width: 100%;
        padding: 10% 0 6% 6%;
    }

    .footer-column {
        width: 100%;
        padding-bottom: 5%;
    }
}


